<div class="cbi-section" id="cbi-<%=self.config%>-<%=self.sectiontype%>">
    <table>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
        <% for i, row in ipairs(data) do %>
            <tr>
                <td>
                    <%= row.col1 %>
                </td>
                <td>
                    <%= row.col2 %>
                </td>
                <td>
                    <%= row.col3 %>
                </td>
            </tr>
            <% end %>
    </table>
</div>