config general 'general'
    option enable '1'
    option host '192.168.1.1'
    option port '8883'

config security 'security'
    option use_tls '0'
    option ca_file '/etc/certificates/ca.cert.pem'
    option cert_file '/etc/certificates/client.cert.pem'
    option key_file '/etc/certificates/client.key.pem'
    option tls_type 'cert'
    option psk 'abcdef'
    option identity 'user'
    option _device_sec_files '0'
    
config user_info 'user_info'
    option use_auth '1'
    option username 'tester'
    option password 'tester'

config interface
    option topic 'a'

config interface 
    option topic 'b'
 
config interface 
    option topic 'c'

config interface
    option topic 'd'


config event 'event'
    option topic 'a'
    option comparator '!='
    option parameter 'temp'
    option value '100'
    option type 'num'
    option sender 'jokubastrak@gmail.com'
    option password 'lrknzmcinkkuyrgh'
    option reciever 'jokubas.trakselis@teltonika.lt'
